{% extends '@base.html' %}

{% block content %}
<h1>Users</h1>
<table>
	<tbody>
		{% if users %}
		{% for user in users %}
			<tr>
				<td>{{ user }}</td>
				<td>
					<form action="delete" method="POST">
						<input type="hidden" name="user" value="{{ user }}">
						<input type="submit" value="delete">
					</form>
				</td>
			</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>
<h2>New user</h2>
<form action="{{ GenURL('/token') }}" method="GET">
	<input type="text" name="user" value="" autocomplete="off">
	<input type="submit" value="Register">
</form>
{% endblock %}
